.question__subtitle {
  border: none;
  width: 100%;
  text-align: left;
  outline: none;
  transition: background-color 0.3s ease;
}

.question__list-acc {
  border: 1px solid #d9d9d9;
}

.question__item-acc {
  cursor: pointer;
  padding: 30px 40px;
  position: relative;
  padding-right: 50px;
}

.plus {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 27px;
  right: 3%;
  transform: translate(-50%, -50%);
}

.plus span {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  height: 2px;
  background: #444444;
}

.plus .rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.question__item-acc.active .rotate {
  transform: rotate(0);
}

.question__item-acc:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.question__item-acc.active .accordion-content {
  max-height: 200px; /* Задайте максимальную высоту в зависимости от контента */
}

/* aside */
.side-menu {
  position: fixed;
  right: 0;
  top: 50%;
  gap: 10px;
  transform: translateY(-50%);
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 111;
}
.menu-close-btn {
  width: 40px;
  height: 40px;
  background: url("../img/close-icon.svg") no-repeat center center / 14px,
    #ffe5d6;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
  border-radius: 50%;
}

.menu-list {
  height: 0;
  right: -200%;
  position: relative;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 3px solid #e0b194;
  transition: right 0.3s ease, height 0.3s ease;
}

.menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 25px 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  transform-origin: right center;
}

.menu-item:not(:last-child) {
  border-bottom: 3px solid #e0b194;
}

.menu-item:last-child {
  border-bottom: 3px solid transparent;
}

.menu-item:nth-child(-n + 4) {
  background: linear-gradient(180deg, #372e29 0%, transparent 100%);
  background-color: #785745;
}

.menu-item:nth-child(5) {
  background-color: #2ab200;
}

.menu-item:nth-child(6) {
  background-color: #11aadc;
}
.svg-wrapp {
  width: 24px;
  height: auto;
  aspect-ratio: 1;
}

.menu-item:nth-child(2) .svg-wrapp {
  background: url("../img/menu-icon-1.svg") no-repeat center center / contain;
}
.menu-item:nth-child(3) .svg-wrapp {
  background: url("../img/menu-icon-2.svg") no-repeat center center / contain;
}
.menu-item:nth-child(4) .svg-wrapp {
  background: url("../img/menu-icon-3.svg") no-repeat center center / contain;
}
.menu-item:nth-child(5) .svg-wrapp {
  background: url("../img/wa-icon.svg") no-repeat center center / contain;
}
.menu-item:nth-child(6) .svg-wrapp {
  background: url("../img/tg-icon.svg") no-repeat center center / contain;
}

.menu-text {
  color: #fff;
  font-size: 13px;
  max-width: min-content;
}

.menu-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

.menu-item:hover {
  z-index: 1;
  transform: scale(1.2);
  background: #372e29;
  border-bottom: 3px solid transparent;
}

.menu-opened.menu-list {
  right: 0;
  height: 100%;
}

.menu-close-btn:hover {
  transform: scale(1.1);
}

.menu-close-btn.rotate {
  transform: rotate(45deg);
}

.wrapp-fixed {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  gap: 10px;
  bottom: 3%;
  right: 2%;
  z-index: 10;
}

.menu-up-btn {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/arrow-top-icon-1.svg") no-repeat center center / 16px,
    #ffe5d6;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.2s ease, opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

.menu-up-btn.show {
  opacity: 1;
  visibility: visible;
}

/* modal  */

.modal {
  display: flex;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffb3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
  padding: 70px;
  max-width: 460px;
  position: relative;
  color: #fff;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 4%;
  width: 22px;
  height: 22px;
  right: 4%;
  font-size: 24px;
  cursor: pointer;
  background: url("../img/close-light-icon.svg") no-repeat center center / 20px;
}

.modal-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 42px;
  margin-bottom: 12px;
}

.modal-desc {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

/* h2 {
  margin-top: 0;
} */

/* input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.work__wrapp {
  display: flex;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100%;
  /* min-height: 920px; */
  position: absolute;
  left: 0;
  top: 0;
  /* opacity: 0; */
  transform: translateX(100%);
  /* pointer-events: none; */
}

.work__wrapp.active {
  opacity: 1;
  transform: translateX(0);
  /* pointer-events: auto; */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.work__wrapp.previous-left {
  opacity: 0.3;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.work__wrapp.previous-right {
  opacity: 0.3;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.work__btn-slider {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.work__inner-list {
  position: absolute;
  bottom: 0%;
  width: 100%;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.work__inner-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0000004a;
  transition: background 0.3s ease;
}

.work__inner-btn:hover {
  background: #000;
}

.work__inner-btn.active {
  background: #000000b1;
}

.work__btn-slider.left {
  position: absolute;
  left: -40px;
  top: 50%;
  background: url("../img/arrow-slider-desk-l-icon.svg") no-repeat center center /
    contain;
}

.work__btn-slider.right {
  position: absolute;
  right: -50px;
  top: 50%;
  background: url("../img/arrow-slider-desk-r-icon.svg") no-repeat center center /
    contain;
}

.work__btn-slider:hover {
  transform: scale(1.2);
}

.work__btn-slider::after {
  position: absolute;
  content: "";
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.work__btn-slider:active::after {
  transform: scale(2);
  background: #1197e21a;
}

/*  select  */
.choices__inner {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  position: relative;
  cursor: pointer;
  color: #ffffff80;
  padding: 16px 0;
}

.choices__placeholder {
  opacity: 1;
  color: #ffffff80;
}

.tooltip {
  visibility: visible;
  width: max-content;
  background-color: black;
  font-weight: 600;
  color: #fff;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  border: 2px solid #ff6666;
  position: absolute;
  background-color: #fff;
  color: #ff6666;
  z-index: 1;
  bottom: 150%;
  left: 50%;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #ff6666 transparent transparent transparent;
}

/* swipper */

.swiper-horizontal {
  display: flex;
  overflow: hidden;
}

.swiper {
  overflow: visible !important;
}
:root {
  --swiper-navigation-size: 28px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -3% !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -3% !important;
}

.swiper-button-prev::before,
.swiper-rtl .swiper-button-next::before,
.swiper-button-next::before,
.swiper-rtl .swiper-button-prev::before {
  background: transparent;
  content: "";
  width: auto;
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  padding: 12px;
  transition: background 0.3s ease;
}

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
  background: #1195e238;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative;
}

.swiper-slide {
  height: 100%;
}

.swiper-wrapper {
  align-items: stretch;
  height: auto !important;
}
.steps-container {
  display: block;
}
.steps-swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.step {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(25% - 7px);
  height: 342px;
  position: relative;
}

.steps-pagination {
  position: relative;
  padding-top: 15px;
  z-index: 1;
}
.steps-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 2px;
}
.steps-pagination .swiper-pagination-bullet-active {
  background: #0074b6c9;
}

.swiper-slide-active {
  padding: 0 20px;
}

@media all and (min-width: 0px) and (max-width: 979px) {
  .steps-container {
    display: block;
    padding: 0 0 30px;
  }
  .steps-swiper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px;
  }
  .step:nth-child(even) img {
    max-width: 100%;
  }
}

@media all and (min-width: 760px) and (max-width: 980px) {
  .step:nth-child(even) img {
    max-width: 100%;
  }
}

@media all and (min-width: 980px) and (max-width: 1199px) {
  .steps-container {
    padding: 0 120px 80px;
  }
  .step:nth-child(even) img {
    max-width: 100%;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .steps-container {
    padding: 0 160px 100px 180px;
  }
}

@media (min-width: 1260px) {
  .step {
    flex-direction: row !important;
  }

  .work__wrapp {
    min-height: auto !important;
  }
}

@media (max-width: 1560px) {
  .swiper-horizontal {
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -1% !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -1% !important;
  }
}
@media (max-width: 1260px) {
  .plus {
    right: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

@media (max-width: 1080px) {
  .slider {
    box-sizing: content-box;
    /* padding: 0 0 40px; */
    padding: 0 0 32px;
  }

  .work__btn-slider.left {
    top: auto;
    left: 0;
    bottom: -1%;
    width: 170px;
    height: 45px;
    padding: 0 27px;
    background: url(../img/arrow-slider-l-icon.svg) no-repeat right 27px center /
        115px,
      #ffffff80;
    transition: background 0.3s ease;
  }

  .work__btn-slider.right {
    top: auto;
    right: 0px;
    bottom: -1%;
    width: 170px;
    height: 45px;
    padding: 0 27px;
    background: url(../img/arrow-slider-r-icon.svg) no-repeat right 27px center /
        115px,
      #ffffff80;
  }

  .work__wrapp {
    width: 100%;
    opacity: 1;
  }
}

@media (max-width: 860px) {
  .tooltip {
    left: -10%;
    transform: translateX(0);
  }

  .tooltip::after {
    left: 5px;
  }
}

@media (max-width: 520px) {
  .side-menu {
    top: auto;
    bottom: 0;
    transform: translateY(-50%);
  }

  .menu-list {
    flex-direction: row;
  }

  .menu-item:not(:last-child) {
    border: none;
  }

  .modal-content {
    padding: 70px 34px;
  }
}
