@import url("./root.css");
@import url("./fonts.css");
@import url("./common.css");
@import url("./main-media.css");
@import url("./normalize.css");
@import url("./lib-style.css");

.wrapp-fixed {
  display: none !important;
}

aside.side-menu {
  display: none;
}

.work__wrapp-btn {
  display: none !important;
}

.vk,
.viber {
  display: none !important;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.header__top-list {
  margin: 0 auto;
  padding-top: 22px;
  max-width: 1820px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.header__top-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__top-item:nth-child(1) {
  order: 1;
}
.header__top-item:nth-child(2) {
  order: 2;
}
.header__top-item:nth-child(3) {
  order: 3;
}
.header__top-item:nth-child(4) {
  order: 4;
}
.header__top-item:nth-child(5) {
  order: 5;
}
.header__top-item:nth-child(6) {
  order: 6;
}

.header__top-item:nth-child(2) {
  flex-direction: row;
  max-width: 225px;
}

.header__logo-wrapp {
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
}

.header__name {
  border-left: 1px solid #cfcfcf;
  padding-left: 15px;
  max-width: 225px;
}

.header__name span {
  white-space: nowrap;
}

.header__icon-wrapp {
  padding: 4px 0;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  width: 55px;
  flex-shrink: 0;
}
.header__icon-wrapp::after {
  content: "";
  position: absolute;
  width: auto;
  height: 85px;
  top: -23px;
  aspect-ratio: 0.65;
  left: 0;
  background: url("../img/header-icon-1.png") no-repeat center center / cover;
}

.header__icon-wrapp svg {
  z-index: 1;
}

.header__icon {
  width: 26px;
  height: 26px;
  z-index: 10;
  background: url("../img/header-icon-1.svg") no-repeat center center / contain;
}

.header__awards-wrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__awards-wrapp .header__desc {
  font-weight: 500;
}

.header__desc {
  font-size: 14px;
}

.header__phone {
  font-size: 22px;
  line-height: 30px;
  white-space: nowrap;
}

.header__phone span {
  font-weight: 500;
}

.star__list {
  gap: 5px;
  flex-direction: row;
}

.star__item {
  width: 16px;
  height: auto;
  aspect-ratio: 1;
  background: url("../img/star-img.png") no-repeat center center / cover;
}

.header__link {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  gap: 16px;
  padding: 13px 16px;
  /* background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%); */
}

.header__link:hover {
}

.header__link p {
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  line-height: 19px;
}

.social__list {
  flex-direction: row;
  gap: 10px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}

.social__item:nth-child(1) {
  background: url("../img/tg-icon.svg") no-repeat center center / 16px,
    #45a5e9e6;
}
.social__item:nth-child(2) {
  background: url("../img/wa-icon.svg") no-repeat center center / 16px,
    #49ac27e6;
}
.social__item:nth-child(3) {
  background: url("../img/vk-icon.svg") no-repeat center center / 18px,
    #4464b6e6;
}
.social__item:nth-child(4) {
  background: url("../img/viber-icon.svg") no-repeat center center / 16px,
    #7647dbe6;
}

.header__btn {
  font-size: 16px;
  font-weight: 600;
  color: #0074b6;
  background: #fff;
  padding: 12px 28px;
  border: 6px solid #9ecde7;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.header__btn:hover {
  background-color: #0b72d1;
  color: #fff;
  border: 6px solid #0b72d1;
}

.header__container-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__nav {
}

.nav {
}

.nav__list {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  gap: 80px;
  padding: 12px 0;
}

.nav__item {
  text-align: center;
}

.nav__item:first-child {
  justify-self: flex-start;
}

.nav__item:last-child {
  justify-self: flex-end;
}

.nav__item:nth-child(4) {
}

.text-block {
  position: relative;
  text-align: center;
}

.text-block::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  height: 1px;
  background-color: #ab826a80;
  z-index: 0;
}

.text-block p {
  position: relative;
  display: inline-block;
  background-color: #ffe5d6;
  padding: 5px 13px;
  font-size: 14px;
  z-index: 1;
  color: #50423a;
  font-family: "CoFo Sans", Arial, Helvetica, sans-serif;
}

.text-block span {
  font-weight: 500;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease, font 0.3s ease;
}

.nav__link:hover {
  font-weight: 600;
  color: #0074b6;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  font-size: 18px;
  color: #1f1f1d;
}

.view {
  overflow: hidden;
  background: url("../img/main-img.jpg") no-repeat center center / cover;
  height: 1220px;
}

.view__container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 6%;
  height: 100%;
}

.view__title {
  position: relative;
  margin: 0;
  max-width: 95%;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 60px;
  color: #2c2c2c;
  letter-spacing: -1px;
}

.view__title .color {
  font-weight: 600;
  color: #1da9f7;
}

.view__title .wrap {
  white-space: nowrap;
}

.view__title .size {
  font-size: 35px;
  color: #1da9f7;
  font-weight: 600;
}

.view__title .size span {
  font-size: 22px;
  color: #000;
}

.view__desc {
  font-size: 18px;
  margin-bottom: 5px;
}

.view__desc:nth-child(1) {
  margin-bottom: 5px;
}

.view__list {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.3fr;
}

.view__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px;
  gap: 20px;
  flex: 1 1 auto;
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
}

.view__item:nth-child(-n + 3) {
  gap: 20px;
  border: 1px solid #e0b195;
  border-bottom: 3px solid #e0b195;
  border-top: 3px solid #e0b195;
}

.view__item:nth-child(1) {
  border-left: 3px solid #e0b195;
}

.view__item:nth-child(3) {
  border-right: 3px solid #e0b195;
}

.view__item:last-child {
  background: #fff;
  outline: none;
  border: none;
  justify-content: center;
}

.view__icon-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffffff0d;
}

.view__item:nth-child(1) .view__icon-wrapp {
  background: url("../img/benefit-icon-3.svg") no-repeat center center / 32px,
    #ffffff0d;
}

.view__item:nth-child(2) .view__icon-wrapp {
  background: url("../img/benefit-icon-2.svg") no-repeat center center / 32px,
    #ffffff0d;
}

.view__item:nth-child(3) .view__icon-wrapp {
  background: url("../img/benefit-icon-4.svg") no-repeat center center / 32px,
    #ffffff0d;
}

.view__text {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.view__subtitle {
  font-weight: 500;
  font-size: 30px;
}

.view__link {
  position: relative;
  padding: 17px 50px;
  /* color: #fff;
  font-weight: 600;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #00000042; */
}

.view__link::after {
  position: absolute;
  bottom: 100%;
  width: 160px;
  aspect-ratio: 0.7;
  height: auto;
  left: 100%;
  content: "";
  background: url("../img/main-arrow.png") no-repeat center center / contain;
  pointer-events: none;
  transform-origin: bottom left;
}

.calc {
  background: url("../img/calcul-img-1.jpg") no-repeat center center / cover;
}

.calc__container {
  padding: 100px 0;
}

.calc__form {
  width: 95%;
  padding: 52px 56px 45px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.form__left,
.form__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__left {
  position: relative;
  width: 109%;
}

.form__left::after {
  content: "";
  position: absolute;
  width: 265px;
  height: 300px;
  top: 50%;
  right: 0;
  transform: translate(30%, -50%);
  background: url("../img/calcul-img-2.png") no-repeat center center / contain;
}

.form__right {
  width: 50%;
}

.calc__span {
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 6px;
  background-color: #ffebdf;
  color: #50423a;
}

.calc__title {
  margin-bottom: 26px;
  font-size: 65px;
  font-weight: 300;
  line-height: 45px;
}

.calc__list {
  flex-direction: column;
  gap: 44px;
}

.calc__item {
}

.calc__subtitle {
  margin-bottom: 12px;
  font-size: 22px;
}

.calc__wrapp-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}

.calc__item:first-child .calc__wrapp-item:first-child {
  display: flex;
  gap: 42px;
  flex-direction: row;
}

.calc__item:last-child .calc__wrapp-item:last-child .calc__subtitle {
  margin-bottom: 5px;
}

.calc__wrapp-item {
}

.calc__label-input {
  max-width: 130px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calc__input {
  padding: 8px 0;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

input[type="radio"] {
  cursor: pointer;
}

.calc__radio-list {
  flex-direction: column;
  gap: 16px;
}

.calc__radio-item {
  cursor: pointer;
}

.calc__label-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.calc__label-radio .calc__radio {
  width: 20px;
  height: auto;
  aspect-ratio: 1;
  transition: 0.3s ease;
}

.calc__check-list {
  gap: 12px;
  flex-direction: column;
}

.cacl__check-item {
}

.cacl__label-check {
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #d9d9d9;
  position: relative;
  cursor: pointer;
  padding: 2px;
  flex-shrink: 0;
}

.custom-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
}

.cacl__label-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.calc__desc {
  font-size: 15px;
  margin-bottom: 10px;
  color: #1f1f1d80;
}

.calc__check-item {
}

.calc__label-radColor {
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.calc__radio-color {
}

.calc__radio-color[type="radio"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.color-1 {
  background-color: #e2d29f;
}
.color-2 {
  background-color: #ebdfbf;
}
.color-3 {
  background-color: #7f352a;
}
.color-4 {
  background-color: #b6b4b5;
}

.form__right {
  display: flex;
  align-items: stretch;
  left: 10%;
  position: relative;
  padding: 66px 74px;
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
}

.calc__heading {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 45px;
  color: #fff;
}

.calc__text {
  margin-bottom: 16px;
  color: #fff;
  line-height: 22px;
}

.calc__label-form {
  padding: 16px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
}

.calc__input-form {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.calc__input-form::placeholder {
  color: #ffffff80;
}

.calc__label-agree {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 35px;
  color: #ffffffcc;
}

.calc__label-agree .custom-checkbox {
  width: 14px;
  height: 14px;
  background-color: #ffffff80;
  border: none;
  padding: 3px;
}

.calc__label-agree .custom-checkbox::after {
  background-color: transparent;
}

.calc__wrapp {
  font-size: 13px;
}

.politic {
  display: inline;
  color: #2bb2ffcc;
}

.calc__btn {
  /* justify-content: center;
  display: flex;
  align-items: center;
  gap: 11px; */
  margin-bottom: 30px;
  /* padding: 18px;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a;
  color: #fff; */
}

.calc__desc-text {
  color: #fff;
  margin-bottom: 5px;
}

.calc__link {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  font-family: "Geologica", Arial, Helvetica, sans-serif;
}

.about {
  padding-top: 100px;
  margin-bottom: 120px;
  overflow: hidden;
}

.about__container-list {
  gap: 100px;
  flex-direction: column;
}

.about__item {
}

.about__item:last-child .about__title {
  margin-bottom: 45px;
}

.about__title {
  margin-bottom: 16px;
  font-size: 75px;
  font-weight: 300;
  line-height: 68px;
  color: #1f1f1d;
}

.about__desc {
  margin-bottom: 44px;
  font-size: 18px;
  color: #313131b3;
}

.about__wrapp-first {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.about__wrapp-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
}

.about__item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 26px;
  height: auto;
  position: relative;
  background: url("../img/about-img-1.jpg") no-repeat center center / cover;
  transition: background 0.3s ease;
  cursor: pointer;
}

.about__item-card:nth-child(-n + 4) {
  aspect-ratio: 1.5;
}

.about__item-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    189.29deg,
    rgba(51, 45, 42, 0) 54.16%,
    #332d2a 86.19%
  );
  z-index: 1;
  transition: opacity 0.5s ease;
  opacity: 0.8;
}

.about__item-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    189.29deg,
    rgba(11, 114, 209, 0) 54.16%,
    #0b74d2 86.19%
  );
  z-index: 2;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.about__item-card:hover::after {
  opacity: 0.7;
}

.about__item-card:nth-child(1) {
  background-image: url("../img/about-img-1.jpg");
  grid-row-start: 1;
  grid-column-start: 1;
}
.about__item-card:nth-child(2) {
  background-image: url("../img/about-img-2.jpg");
  grid-row-start: 1;
  grid-column-start: 2;
}
.about__item-card:nth-child(3) {
  background-image: url("../img/about-img-3.jpg");
  grid-row-start: 2;
  grid-column-start: 1;
}
.about__item-card:nth-child(4) {
  background-image: url("../img/about-img-4.jpg");
  grid-row-start: 2;
  grid-column-start: 2;
}
.about__item-card:nth-child(5) {
  padding-bottom: 60px;
  background-image: url("../img/about-img-5.jpg");
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.about__item-card:nth-child(1) .about__item-desc {
  background-color: #1197e2;
}
.about__item-card:nth-child(2) .about__item-desc {
  background-color: #51443d;
}
.about__item-card:nth-child(3) .about__item-desc {
  background-color: #495ecd;
}
.about__item-card:nth-child(4) .about__item-desc {
  background-color: #e6912d;
}

.about__item-card:nth-child(5) .about__item-desc {
  background-color: #d7a07e;
}

.about__item-desc {
  display: inline-flex;
  flex-direction: column;
  padding: 20px 18px;
  font-weight: 900;
  font-size: 20px;
  color: #ffffffe6;
}

.about__item-span {
  font-size: 13px;
  font-weight: 400;
}

.about__card-text {
  padding-left: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  z-index: 10;
}

.about__item-card:nth-child(5) .about__card-text {
  max-width: 320px;
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 30px;
}

.about__card-list {
  padding-left: 50px;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.about__card-item {
  position: relative;
  padding-left: 20px;
  color: #fff;
}

.about__card-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-25%);
  width: 7px;
  height: auto;
  aspect-ratio: 1;
  background-color: #38b8ff;
  border-radius: 50%;
}

.service {
}

.service__title {
  margin-bottom: 45px;
  font-size: 75px;
  font-weight: 400;
  color: #1f1f1d;
  line-height: 70px;
}

.service__title span {
  color: #0074b6;
}

.service__wrapp-second {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.service__wrapp-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px 70px;
  padding: 75px 70px 90px;
  border: 1px solid #d9d9d9;
}

.service__wrapp-item {
}

.service__wrapp-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: auto;
  margin-bottom: 30px;
  aspect-ratio: 1;
}

.service__wrapp-item:nth-child(1) .service__wrapp-svg {
  background: url("../img/service-icon-1.svg") no-repeat center center / 36px,
    #0074b60d;
}
.service__wrapp-item:nth-child(2) .service__wrapp-svg {
  background: url("../img/service-icon-2.svg") no-repeat center center / 36px,
    #0074b60d;
}
.service__wrapp-item:nth-child(3) .service__wrapp-svg {
  background: url("../img/service-icon-3.svg") no-repeat center center / 36px,
    #0074b60d;
}
.service__wrapp-item:nth-child(4) .service__wrapp-svg {
  background: url("../img/service-icon-4.svg") no-repeat center center / 36px,
    #0074b60d;
}
.service__wrapp-item:nth-child(5) .service__wrapp-svg {
  background: url("../img/service-icon-5.svg") no-repeat center center / 36px,
    #0074b60d;
}
.service__wrapp-item:nth-child(6) .service__wrapp-svg {
  background: url("../img/service-icon-6.svg") no-repeat center center / 36px,
    #0074b60d;
}

.service__subtitle {
  margin-bottom: 12px;
}

.service__desc {
  color: #1f1f1db3;
  line-height: 20px;
}

.service__wrapp {
  position: relative;
  max-width: 400px;
  padding: 86px 34px 86px 60px;
  border: 10px solid #9ecde7;
}

.service__wrapp::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 230px;
  left: 5%;
  bottom: 3%;
  background: url("../img/service-img-7.png") no-repeat center center / contain;
}

.service__label {
  margin-bottom: 30px;
}

.service__headline {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #0074b6;
}

.work__wrapp-left {
  min-width: 470px;
  display: flex;
  flex-direction: column;
  padding: 45px 30px 40px 40px;
  border: 1px solid #d9d9d9;
}

.work__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  margin-bottom: 10px;
}

.work__desc-place {
  margin-bottom: 30px;
  color: #0074b6;
}

.work__inner {
  margin-bottom: 32px;
  padding: 10px 28px;
  background-color: #0074b60d;
}

.work__inner-text {
  font-family: "CoFo Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.work__inner-text span {
  font-family: "Geologica", Arial, Helvetica, sans-serif;
  color: #0074b6;
}
.work__inner-text .num {
  font-size: 40px;
}

.work__inner-text .days {
  font-size: 24px;
}

.work__text {
  font-size: 18px;
  font-weight: 700;
  font-family: "CoFo Sans", Arial, Helvetica, sans-serif;
  line-height: 22px;
  margin-bottom: 14px;
}

.work__list {
  flex-direction: column;
  margin-bottom: 40px;
  gap: 12px;
}

.work__item {
  font-family: "CoFo Sans", Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.work__item::before {
  content: "";
  position: relative;
  width: 7px;
  height: auto;
  aspect-ratio: 1;
  background: #0074b6;
  border-radius: 50%;
}

.work__item-text {
  font-family: "CoFo Sans", Arial, Helvetica, sans-serif;
  margin-right: auto;
}

.work__item-desc {
}

.work__btn {
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  gap: 14px;
  padding: 17px 17px 21px;
  color: #fff;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a; */
}

.work__wrapp-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
  background-image: url("../img/work-img-2.jpg");
  transition: background-image 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #d9d9d9;
}

.work__span-desc {
  max-width: min-content;
  text-align: end;
  margin-left: auto;
  padding: 23px 30px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
  border-bottom: 5px solid #e0b195;
  border-left: 5px solid #e0b195;
}

.work__wrapp-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}

.work__btn-galery {
  width: 170px;
  height: 45px;
  padding: 0 27px;
  transition: transform 0.4s ease;
}

.work__btn-galery.right {
  background: url("../img/arrow-slider-r-icon.svg") no-repeat right 27px center /
      115px,
    #ffffff80;
}

.work__btn-galery:hover {
  transform: scale(1.1);
}

.work__btn-galery.left {
  background: url("../img/arrow-slider-l-icon.svg") no-repeat right 27px center /
      115px,
    #ffffff80;
}

.feedback {
  margin-bottom: 100px;
  background: url("../img/feedback-img-1.jpg") no-repeat center center / cover;
}

.feedback__container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.feedback__container::before {
  content: "";
  position: absolute;
  left: 31%;
  bottom: 0;
  width: 390px;
  height: 570px;
  background: url("../img/feedback-img-2.png") no-repeat center center / contain;
}

.feedback__left {
  max-width: 480px;
  padding: 70px 25px 38px 48px;
  border: 10px solid #9ecde7;
  background-color: #f2f8fb;
}

.feedback-left__title {
  color: #0074b6;
  font-size: 29px;
  line-height: 34px;
  margin-bottom: 20px;
}

.feedback-left__text {
  max-width: 360px;
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.feedback-left__logo {
  margin-bottom: 56px;
}

.feedback-left__desc {
  max-width: 360px;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 22px;
}

.feedback__right {
  display: flex;
  flex-direction: column;
  padding: 110px 60px 60px;
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
  outline: 10px solid #fff;
  max-width: 490px;
}

.feedback-right__title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 42px;
  color: #fff;
  position: relative;
}

.feedback-right__title::after {
  content: "";
  position: absolute;
  top: -18%;
  left: 0;
  width: 100%;
  height: 77px;
  background: url("../img/shadow-logo.png") no-repeat center center / cover;
}

.feedback-right__label {
  padding: 16px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
}

.feedback-right__input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.feedback-right__input::placeholder {
  color: #ffffff80;
}

.feedback-right__select {
  padding: 16px 0;
  margin-bottom: 24px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #ffffff80;
  cursor: pointer;
}

/* Custom select */
/* Custom select end*/

.feedback-right__label {
}

.feedback-right__input {
}

.feedback__label-agree {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 35px;
  color: #ffffffcc;
}

.feedback__label-agree .custom-checkbox {
  width: 14px;
  height: 14px;
  background-color: #ffffff80;
  border: none;
  padding: 3px;
}

.feedback__label-agree .custom-checkbox::after {
  background-color: transparent;
}

.feedback__wrapp {
  font-size: 13px;
}

.feedback__btn {
  /* justify-content: center;
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 30px;
  padding: 18px;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a;
  color: #fff; */
}

.benefit {
}

.benefit__container {
}

.benefit__title {
  margin-bottom: 45px;
  font-size: 74px;
  font-weight: 300;
  line-height: 60px;
}

.benefit__title span {
  color: #0074b6;
}

.benefit__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #d9d9d9;
  border: 0 solid #d9d9d9;
  border-width: 0 0 1px 1px;
}

.benefit__item {
  padding: 70px 42px 50px 70px;
  border: 0 solid #d9d9d9;
  border-width: 1px 1px 0 0;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.benefit__item:hover {
  box-shadow: 0px 10px 30px 0px #0000001a;
}

.benefit__wrapp-svg {
  padding: 15px;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 75px;
  height: auto;
}

.benefit__item:nth-child(1) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-1.svg") no-repeat center center / 40px,
    #e6912d;
}
.benefit__item:nth-child(2) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-2.svg") no-repeat center center / 40px,
    #d7a07e;
}
.benefit__item:nth-child(3) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-3.svg") no-repeat center center / 40px,
    #495ecd;
}
.benefit__item:nth-child(4) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-4.svg") no-repeat center center / 40px,
    #1197e2;
}
.benefit__item:nth-child(5) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-5.svg") no-repeat center center / 40px,
    #51443d;
}
.benefit__item:nth-child(6) .benefit__wrapp-svg {
  background: url("../img/benefit-icon-6.svg") no-repeat center center / 40px,
    #a461e6;
}

.benefit__subtitle {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 24px;
  color: #313131;
  line-height: 29px;
}

.benefit__text {
  color: #313131b3;
}

.report {
  margin-bottom: 100px;
  padding-top: 105px;
  background: url("../img/report-img-3.png") no-repeat 110% 100% / 63%;
}

.report__container {
}

.report__title {
  max-width: 720px;
  margin-bottom: 41px;
  font-size: 75px;
  line-height: 70px;
  font-weight: 300;
}

.report__title span {
  color: #0074b6;
}

.report__list {
  position: relative;
  max-width: 350px;
  margin-bottom: 42px;
  flex-direction: column;
  gap: 38px;
}

.report__list::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 22px;
  width: 13%;
  height: 109%;
  z-index: -1;
  background: url("../img/line-icon.png") no-repeat center center / contain;
}

.report__item {
  position: relative;
  padding-left: 70px;
}

.report__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid #1197e2;
}

/* .report__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 127px;
  background: url("../img/line-icon-1.png") no-repeat center center / cover;
} */

.report__item-marker {
  width: 25px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
}

.report__subtitle {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #313131;
}

.report__desc {
  font-weight: 400;
  line-height: 22px;
}

.report__btn {
  /* display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%); */
  padding: 20px 48px;
}

.start {
  padding-top: 90px;
  padding-bottom: 120px;
  background: #f2f8fb;
}

.start__container {
}

.start__title {
  margin-bottom: 50px;
  font-size: 65px;
  font-weight: 300;
  line-height: 60px;
}

.start__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.start__item {
  min-height: 615px;
  position: relative;
  padding: 55px 40px 40px;
}

.start__item:nth-child(1) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background: url("../img/together-img-1.png") no-repeat right bottom / 45%,
    linear-gradient(180deg, #51443d 0%, #785745 100%);
  color: #fff;
}

.start__item:nth-child(2) {
  padding: 55px 10px 40px 30px;
  background: url("../img/together-img-2.png") no-repeat center bottom / contain,
    url("../img/fon-together-2.png") no-repeat center center / cover;
}

.start__item:nth-child(3) {
  background: url("../img/together-img-3.jpg") no-repeat center bottom / contain,
    url("../img/fon-together-3.png") no-repeat center center / cover;
}

.span-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  padding: 5px;
  right: 5%;
  top: -3%;
  width: 70px;
  height: 70px;
  color: #fff;
}

.span-wrapp span:first-child {
  font-weight: 900;
  font-size: 36px;
  line-height: 32px;
}
.span-wrapp span:last-child {
  font-weight: 500;
}

.start__item:nth-child(1) .span-wrapp {
  background: #8a78ff;
}
.start__item:nth-child(2) .span-wrapp {
  background: #1197e2;
}
.start__item:nth-child(3) .span-wrapp {
  background: #d7a07e;
}

.start__subtitle {
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 37px;
  line-height: 40px;
}

.start__item:nth-child(1) .start__subtitle {
  margin-bottom: auto;
}

.start__desc {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffffb2;
}

.start__item:nth-child(2) .start__desc {
  max-width: 320px;
  color: #1f1f1d;
}

.start__item:nth-child(3) .start__subtitle,
.start__item:nth-child(3) .start__desc {
  color: #fff;
}

.start__link {
  margin-bottom: 32px;
  font-size: 26px;
  line-height: 31px;
}

.start__list-wrapp {
  margin-bottom: 38px;
}

.start__item-wrapp {
}

.start__btn {
  padding: 20px 48px;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a;
  color: #fff; */
}

.question {
  padding: 110px 0 100px;
}

.question__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.question-left {
}

.question-right {
  width: 100%;
}

.question__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.question__title {
  max-width: 690px;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 65px;
  line-height: 60px;
}

.question__list-acc {
  flex-direction: column;
}

.question__item-acc {
}

.question__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.question__text {
  padding-top: 15px;
  color: #313131b3;
}

.ask {
  margin-bottom: 110px;
  background: url("../img/form-img-1.jpg") no-repeat center center / cover;
}

.ask__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.ask__container::before {
  content: "";
  position: absolute;
  left: 23%;
  bottom: 0;
  width: 390px;
  height: 580px;
  background: url("../img/form-img-2.jpg") no-repeat center center / cover;
}
.ask__left {
  max-width: 475px;
  background-color: #f2f8fb;
  padding: 76px 60px;
  border: 10px solid #9ecde7;
}

.ask__title {
  margin-bottom: 28px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 300;
}

.ask__title span {
  color: #0074b6;
}

.ask__list {
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
  list-style: square outside;
}

.ask__item::marker {
  content: "—";
  color: #1197e2;
  font-size: 20px;
}

.ask__item {
  padding-left: 15px;
  position: relative;
  max-width: 240px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.ask__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 60px;
  background: linear-gradient(180deg, #51443d 0%, #785745 100%);
  outline: 10px solid #fff;
  color: #fff;
}

.ask__subtitle {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 300;
  line-height: 38px;
  color: #fff;
}

.ask__label {
  padding: 16px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
}

.ask__input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.ask__input::placeholder {
  color: #ffffff80;
}

.ask__select {
  padding: 16px 0;
  margin-bottom: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #ffffff80;
  cursor: pointer;
}

.ask__label {
}

.ask__input {
}

.ask__label-agree {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 46px;
  color: #ffffffcc;
}

.ask__label-agree .custom-checkbox {
  width: 14px;
  height: 14px;
  background-color: #ffffff80;
  border: none;
  padding: 3px;
}

.ask__label-agree .custom-checkbox::after {
  background-color: transparent;
}

.ask__wrapp {
  font-size: 13px;
}

.ask__btn {
  margin-bottom: 40px;
  padding: 20px 48px;
}

.ask__label {
  width: 100%;
}

.ask__input {
}

.ask__label-agree {
}

.ask__desc-text {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
}

.ask__link {
  margin-bottom: 25px;
  font-family: "Geologica", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.ask__desc {
  margin-bottom: 12px;
  font-size: 18px;
}

.order {
  margin-bottom: 106px;
}

.order__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.order__left {
  padding: 70px 60px 80px;
  background: linear-gradient(276.76deg, #eeebef 10.02%, #f8f8f8 70.6%);
}

.order__title {
  margin-bottom: 18px;
  font-size: 55px;
  font-weight: 300;
  line-height: 55px;
}

.order__title span {
  color: #0074b6;
}
.order__subtitle {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 20px;
  color: #1f1f1d;
}

.order__text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 46px;
}

.order__btn {
  /* display: flex;
  gap: 10px;
  align-items: center; */
  padding: 20px 48px;
  /* color: #fff;
  font-size: 18px;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a; */
}

.order__right {
  width: 100%;
  background: url("../img/product-img-1.jpg") no-repeat center center / cover;
  outline: 10px solid #fff;
}

.contact {
  margin-bottom: 100px;
}

.contact__container {
}

.contact__title {
  margin-bottom: 45px;
  font-size: 75px;
  font-weight: 300;
  line-height: 60px;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact__item {
}

.contact__item:first-child {
  border: 10px solid #9ecde7;
  padding: 60px 50px;
}

.contact__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  gap: 10px;
}

.contact__item:nth-child(2) .contact__photo:nth-child(1) {
  background: url("../img/contact-img-1.jpg") no-repeat center center / cover;
}

.contact__item:nth-child(2) .contact__photo:nth-child(2) {
  background: url("../img/cont-sec-img-1.jpeg") no-repeat center center / cover;
}

.contact__address-label {
  margin-bottom: 8px;
  line-height: 19px;
  color: #1f1f1db3;
}

.contact__adress-details {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 34px;
}

.link-tel {
  font-size: 26px;
  line-height: 32px;
}

.link-email {
  font-weight: 600;
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 25px;
  color: #0074b6;
}

.contact__social-desc {
  max-width: 190px;
  margin-bottom: 10px;
}

.contact__list-wrapp {
  margin-bottom: 45px;
}

.contact__btn {
  /* display: flex;
  align-items: center;
  gap: 10px; */
  padding: 20px 48px;
  /* color: #fff;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(90deg, #1da9f7 0%, #0b72d1 100%);
  box-shadow: 0px 10px 20px 0px #0000001a; */
}

.contact__photo {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 24px 26px;
  transition: background 0.3s ease;
}

.contact__photo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    189.29deg,
    rgba(51, 45, 42, 0) 54.16%,
    #332d2a 86.19%
  );
  z-index: 1;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

.contact__wrapp-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 10;
  transform: translateY(-50%);
}

.contact__btn-galery {
  width: 80px;
  height: 35px;
  padding: 0 16px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.contact__btn-galery:hover {
  transform: scale(1.1);
}

.contact__btn-galery.left {
  background: url(../img/arr-con-l-icon.svg) no-repeat right 20px center / 42px,
    #ffffff80;
}

.contact__btn-galery.right {
  background: url(../img/arr-con-r-icon.svg) no-repeat right 20px center / 42px,
    #ffffff80;
}

.contact__desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  z-index: 2;
}

.contact__map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer {
  padding: 90px 0 40px;
  background-color: #f2f8fb;
}

.footer__container {
}

.footer-top {
  display: flex;
  flex-direction: column;
  padding: 0 0 76px;
  gap: 26px;
  border-bottom: 1px solid #d9d9d9;
}

.footer-top .footer__list:nth-child(2) {
  align-items: end;
}

.footer__list-gap .footer__item:nth-child(n + 2) {
  gap: 6px;
}

.footer__list-gap .footer__subtitle {
  margin-bottom: 8px;
}

.footer__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr 0.6fr;
  gap: 48px;
}

.footer__nav {
  padding-bottom: 34px;
  border-bottom: 1px solid #d9d9d9;
  align-items: end;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 120px;
}

.footer__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  transition: color 0.3s ease, font-weight 0.3s ease;
  cursor: pointer;
}

.footer__subtitle:hover {
  font-weight: 700;
  color: #0074b6;
}

.footer__list-gap .footer__subtitle {
  pointer-events: none;
}

.footer__name {
  font-size: 15px;
}

.footer__link-phone {
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  font-family: "Geologica", Arial, Helvetica, sans-serif;
}

.footer__link-mail {
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #0074b6;
  font-family: "Geologica", Arial, Helvetica, sans-serif;
}

.footer__social-list {
  justify-content: center;
}

.social__list {
}

.social__item {
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.social__item:hover {
  transform: scale(1.2);
  filter: brightness(1.3);
}

.link-soc {
  width: 100%;
  height: 100%;
}

.link-soc::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.footer__desc {
  line-height: 30px;
}

.footer-bottom {
  padding-top: 34px;
}

.footer-bottom .footer__list {
  grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr 0.6fr;
  gap: 20px;
}

.footer-bottom .footer__item {
  gap: 14px;
  white-space: nowrap;
}

.footer__item.span {
  grid-column: span 2;
}

.footer-bottom .footer__item:nth-child(1) .footer__more:hover {
  font-weight: normal;
  color: #1f1f1d;
}

.footer__more {
  font-size: 14px;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

.footer__more:hover {
  font-weight: 500;
  color: #0074b6;
}
