.calc__wrapp-img,
.feedback__wrapp-img,
.header--mobile,
.ask__wrapp-img {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    margin: 0 40px;
  }
}

@media (max-width: 520px) {
  /* тест */
  .header__top-list,
  .text-block {
    display: none;
  }

  .header__container {
    padding: 15px;
  }

  .header__container-bottom {
    display: none;
  }

  .header-logo--mobile {
    z-index: 1000;
  }
  /* burger */
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 140px 45px 20px;
    background-color: #fff;
    color: #1f1f1d;
    transition: left 0.3s ease-in-out;
    z-index: 100;
  }

  .nav.active {
    left: 0;
  }

  .nav__list {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .header-wrapp--mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header--mobile {
    display: block;
  }
  .burger {
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: #ffe5d6;
    width: 55px;
    height: auto;
    align-items: center;
    gap: 5px;
    aspect-ratio: 1;
    z-index: 1000;
  }

  .burger span {
    width: 60%;
    display: block;
    height: 3px;
    background-color: #50423a;
    border-radius: 3px;
    transition: transform 0.3s ease;
  }

  .burger span:nth-child(1) {
    transform-origin: top left;
  }

  /* Средняя палочка */
  .burger span:nth-child(2) {
    transform-origin: center;
  }

  /* Нижняя палочка */
  .burger span:nth-child(3) {
    transform-origin: bottom left;
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, -5px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, 3px);
  }
  /* burger end*/

  .container {
    margin: 0 10px;
  }

  .view__container {
    margin: 0;
  }

  .menu-text {
    display: none;
  }

  .menu-item {
    padding: 20px;
  }

  /* header */
  /* header end */

  .view {
    height: auto;
    background: #fff;
  }

  .view__container {
    padding: 0;
  }

  .view__title {
    font-size: 30px;
  }

  .view__title .size {
    font-size: 18px;
  }

  .view__body--mobile {
    padding: 0 20px 300px;
    background: url("../img/main-img-mobile.jpg") no-repeat center bottom / 100%;
  }

  .view__desc {
    line-height: 20px;
    max-width: 300px;
  }

  .view__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 10px solid #e0b195;
  }

  .view__item:nth-child(3) {
    border: none;
  }

  .view__item:nth-child(-n + 3) {
    border: none;
    flex-direction: row;
    border-top: 3px solid #e0b195;
  }

  .view__item {
    padding: 30px;
    flex: auto;
    align-items: center;
  }

  .view__item:last-child {
    width: 100%;
    order: -1;
    align-items: stretch;
  }

  .view__icon-wrapp {
    width: 65px;
    flex-shrink: 0;
  }

  .view__icon-wrap svg {
    width: 28px;
    height: 28px;
  }

  .view__text {
    font-size: 16px;
    line-height: 20px;
  }

  .view__link::after {
    display: none;
  }

  .calc {
    padding: 60px 0 0;
    background: #fff;
  }

  .calc__container {
    padding: 0;
    margin: 0;
  }

  .calc__form {
    padding: 0;
    width: 100%;
    flex-direction: column;
  }

  .calc__item:nth-child(n + 2) .calc__wrapp-list {
    display: flex;
    flex-direction: column;
  }

  .calc__title {
    font-size: 45px;
  }

  .calc__list {
    gap: 34px;
  }

  .form__left::after {
    display: none;
  }

  .calc__label-input {
    font-size: 13px;
    max-width: 90px;
  }

  .calc__item:nth-child(1) .calc__wrapp-list {
    gap: 20px;
  }

  .calc__item:first-child .calc__wrapp-item:first-child {
    gap: 20px;
  }

  .calc__input {
    font-size: 16px;
  }

  .form__left {
    width: 100%;
    padding: 0 20px;
  }

  .calc__wrapp-img {
    display: flex;
    justify-content: center;
  }

  .form__right {
    left: auto;
    padding: 50px 20px;
    width: 100%;
  }

  .about {
    padding-top: 60px;
  }

  .about__title {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 40px;
  }

  .about__desc {
    display: none;
  }

  .about__wrapp-left {
    display: flex;
    flex-direction: column;
  }

  .about__card-text {
    font-size: 20px;
  }

  .about__card-list {
    display: none;
  }

  .about__card-text {
    padding-left: 20px;
    margin: 0;
  }

  .about__item-card:nth-child(5) .about__card-text {
    font-size: 20px;
  }

  .about__item-card:nth-child(5) {
    aspect-ratio: 1.5;
    padding-bottom: 20px;
  }

  .about__container-list {
    gap: 60px;
  }

  .service {
    margin-bottom: 40px;
  }

  .service__title {
    font-size: 40px;
    line-height: 40px;
  }

  .service__desc {
    font-size: 15px;
  }

  .service__wrapp-second {
    flex-direction: column;
    gap: 10px;
  }

  .service__wrapp-left {
    display: flex;
    flex-direction: column;
    padding: 40px 25px;
    gap: 40px;
  }
  .service__wrapp-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .service__wrapp-svg {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
  }

  .service__wrapp-svg svg {
    width: 32px;
    height: 32px;
  }

  .service__wrapp-text {
    display: flex;
    flex-direction: column;
  }

  .service__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .service__wrapp {
    padding: 60px 36px 132px;
  }

  .service__wrapp::after {
    width: 260px;
    height: 163px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14%;
  }

  .work__wrapp {
    flex-direction: column-reverse;
  }

  .work__wrapp-right {
    aspect-ratio: 1.3;
    padding: 0;
    justify-content: center;
  }
  .work__wrapp-btn {
    padding: 0 10px;
  }

  .work__btn-slider {
    width: 45px;
    height: 45px;
    padding: 0;
    background: url("../img/arrow-icon-mobile.svg") no-repeat center center /
        24px,
      #ffffff80;
  }

  .work__span-desc {
    display: none;
  }

  .work__wrapp-left {
    padding: 30px 30px 40px;
    min-width: 100%;
  }

  .work__title {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
  }

  .work__desc-place {
    margin-bottom: 24px;
    font-size: 15px;
  }

  .work__inner {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .work__inner-text {
    font-size: 15px;
  }

  .work__inner-text .num {
    font-size: 30px;
  }

  .work__item::before {
    display: none;
  }

  .work__item-text {
    font-size: 15px;
  }

  .work__list {
    margin-bottom: 26px;
  }

  .feedback {
    background: #fff;
    margin-bottom: 54px;
  }

  .feedback__container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .feedback__wrapp-img {
    height: 410px;
    display: flex;
    justify-content: center;
    position: relative;
    background: url("../img/feedback-img-1.jpg") no-repeat 12% center / cover;
  }

  .feedback__right {
    padding: 66px 40px;
    outline: none;
  }

  .feedback__container::before {
    display: none;
  }

  .feedback__wrapp-img::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 320px;
    height: 460px;
    background: url(../img/feedback-img-2.png) no-repeat center center / contain;
  }

  .feedback-right__title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .benefit__title {
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 45px;
  }

  .benefit__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
    border: 1px solid #d9d9d9;
  }

  .benefit__item {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .benefit__wrapp-text {
  }

  .benefit__wrapp-svg {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .benefit__wrapp-svg svg {
    width: 30px;
    height: 30px;
  }

  .benefit__subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  .benefit__text {
    font-size: 15px;
  }

  .report {
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 360px;
    background: url("../img/report-img-2.png") no-repeat center bottom / contain;
  }

  .report__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .report__title {
    font-size: 45px;
    line-height: 45px;
  }

  .report__list::after {
    left: 2%;
    top: 10px;
  }

  .report__item::before {
    left: 5%;
  }

  .report__list {
    max-width: 100%;
    width: 100%;
  }

  .report__btn {
    padding: 20px 76px;
  }

  .start {
    padding-bottom: 60px;
  }

  .start__container {
    margin: 0;
  }

  .start__title {
    padding-left: 15px;
    font-size: 45px;
    line-height: 45px;
  }

  .start__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .start__item {
    min-height: 500px;
  }

  .span-wrapp {
    top: -5%;
  }

  .start__item:nth-child(1) {
    position: relative;
    background: linear-gradient(180deg, #51443d 0%, #785745 100%);
  }

  .start__item:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 144px;
    height: 340px;
    bottom: 0;
    right: 0;
    background: url("../img/together-img-1.png") no-repeat center center / cover;
  }

  .question {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .question__container {
    display: flex;
    flex-direction: column;
  }

  .question-right {
    display: none;
  }

  .question__title {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 45px;
  }

  .question__item-acc {
    padding: 25px 50px 25px 20px;
  }

  .question__subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  .ask {
    margin-bottom: 70px;
  }

  .ask__container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .ask__container::before {
    display: none;
  }

  .ask__wrapp-img {
    height: 410px;
    display: flex;
    justify-content: center;
    position: relative;
    background: url("../img/form-img-1.jpg") no-repeat 12% center / cover;
  }

  .ask__wrapp-img::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 290px;
    height: 480px;
    background: url(../img/form-img-2.jpg) no-repeat center center / cover;
  }

  .ask__left {
    padding: 45px 30px;
  }

  .ask__title {
    font-size: 40px;
    line-height: 40px;
  }

  .ask__item {
    font-size: 16px;
  }

  .ask__right {
    align-items: stretch;
    padding: 55px 40px 60px;
  }

  .ask__subtitle {
    font-size: 30px;
    line-height: 32px;
  }

  .social__item {
    width: 40px;
  }

  .social__item:nth-child(1) {
    background: url("../img/tg-icon.svg") no-repeat center center / 22px,
      #45a5e9e6;
  }
  .social__item:nth-child(2) {
    background: url("../img/wa-icon.svg") no-repeat center center / 22px,
      #49ac27e6;
  }
  .social__item:nth-child(3) {
    background: url("../img/vk-icon.svg") no-repeat center center / 24px,
      #4464b6e6;
  }
  .social__item:nth-child(4) {
    background: url("../img/viber-icon.svg") no-repeat center center / 22px,
      #7647dbe6;
  }

  .order {
    margin-bottom: 50px;
  }

  .order__container {
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
  }

  .order__left {
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    border: 1px solid #d9d9d9;
  }

  .order__title {
    font-size: 30px;
    line-height: 32px;
  }

  .order__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .order__text {
    font-size: 15px;
    left: 20px;
  }

  .contact {
    margin-bottom: 60px;
  }

  .contact__title {
    font-size: 45px;
    line-height: 45px;
    padding-left: 15px;
  }

  .order__right {
    height: auto;
    aspect-ratio: 1.25;
  }

  .contact__container {
    margin: 0;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact__item:nth-child(2) {
    border: none;
    order: 3;
  }

  .contact__item:nth-child(3) {
    order: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 1.25;
  }

  .contact__photo {
    height: auto;
    padding: 40px 30px;
    aspect-ratio: 1.25;
  }

  .footer {
    padding: 60px 0 40px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav {
    padding: 0;
    border: none;
  }

  .footer__nav .footer__item:nth-child(n + 2) {
    display: none;
  }

  .footer__list-gap .footer__item:nth-child(n + 2) {
    display: none;
  }

  .footer__list:nth-child(2) .footer__item:nth-child(n + 2) {
    display: none;
  }

  .footer-top .footer__list:nth-child(2) {
    align-items: center;
  }

  .footer-top {
    padding: 0;
    border: none;
  }

  .footer__item {
    gap: 30px;
  }

  .footer-bottom .footer__item:nth-child(n + 2) {
    display: none;
  }

  .footer-bottom .footer__item {
    gap: 15px;
  }
}
